h1 {
    font-size: 100px;
    color: cornflowerblue;


}

li {
    font-size: 20px;
    color: teal;


}


body {
    background-color: thistle;

}


h2 {
    font-size: 30px;
    color: rebeccapurple;


}

H2 {
    font-size: 30px;
    color: rebeccapurple;


}